<article id="page-about" class="page">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h2 class="page-title"><i class="fa fa-group"></i> About Us</h2>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 text-left content">

            <p><strong>AppioLab</strong> is an IT Outsourcing and Offshore Development Service providing company based in Dhaka, Bangladesh.
                AppioLab started its journey by providing outsourcing service in <a href="http://goo.gl/KJVmGS" target="_blank" title="oDesk">oDesk</a> marketplace from November 2011.
                <!--In few months AppioLab started to expanded its service to Elance and Freelancer.com.</p>-->
               </p>

            <p>AppioLab was established with core management member and technical team lead Mr. <a href="http://www.arifulhaque.com"
                title="Ariful Haque" target="_blank">Ariful Haque</a> <small> <em>(aka Ariful H Bhuiyan)</em></small>  and his wife Ms. Salma Sultana Tajia.
                But they didn't wait long to invite their most trusted and skilled friends, colleagues into their team as they and AppioLab believe in Team Work
            </p>
            <p>At the moment, <strong>AppioLab</strong> is operated from Kuantan, Malaysia and the full team work as remote team. </p>

        </div>
    </div>
</article>