<header class="navbar navbar-default apl-nav" id="top" role="banner">
    <div class="container">

        <div class="navbar-header">
            <button type="button"  class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="/" class="navbar-brand">AppioLab</a>
        </div>
        <nav class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li  ui-sref-active="active">
                    <a ui-sref="about-us" title="About Us">About Us</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="http://expo.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');">About Us</a></li>-->
                <li  ui-sref-active="active">
                    <a ui-sref="hire-us" title="Hire Us"><i class="fa fa-cart-plus"></i> Hire Us</a>
                </li>
                <li  ui-sref-active="active">
                    <a ui-sref="contact" title="Contact"><i class="fa fa-phone-square"></i> Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>