<article id="page-hire" class="page">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h2 class="page-title"><i class="fa fa-cart-plus"></i> Hire Us</h2>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 text-left content">

            <p>You are welcome to hire us using  <a href="http://goo.gl/KJVmGS" target="_blank" title="oDesk">oDesk</a> <br/> or <a ui-sref="contact" title="contact us">contact us</a>
                before making your final decision.
            </p>

        </div>
    </div>
</article>