<article id="page-home" class="page">
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <h1 style="color: green;;">Welcome to AppioLab</h1>
        <br>

        <p class="welcome_text text-primary">We provide <strong>Full-Stack Web Development Services</strong> at an affordable price.</p>
        <p class="apl_tagline">We believe in fusion of <strong>stable technology</strong> and perfect <strong>business analysis</strong> to provide <strong>optimum solution</strong> to your need.</p>
        <p class="apl_tagline">We are highly <strong>motivated remote development</strong> team united by the common interest of <strong>building awesome web applications.</strong> </p>
    </div>

    <br>
</div>

<div class="row" id="our-technology">

    <div class="col-lg-12 col-md-12 col-sm-12">
        <h2 class="text-center">Technology we use</h2>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 tech-section">
        <div class="section_title">Language and Framework</div>
        <ul class="list-unstyled">
            <li>PHP</li>
            <li>Laravel</li>
            <li>CodeIgniter</li>
            <li>Nodejs</li>
            <li>WordPress</li>
            <li>MySQL</li>
        </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 tech-section">
        <div class="section_title">Front-end </div>
        <ul class="list-unstyled">
            <li>Twitter Bootstrap</li>
            <li>AngularJs</li>
            <li>jQuery</li>
            <li>JavaScript</li>
        </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 tech-section">
        <div class="section_title">Tools</div>
        <ul  class="list-unstyled">
            <li>Git</li>
            <li>Composer</li>
            <li>NPM</li>
            <li>Bower</li>
            <li>Gulp</li>
        </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 tech-section">
        <div class="section_title">OS & Web Servers </div>
        <ul  class="list-unstyled">
            <li>Ubuntu Server</li>
            <li>CentOS</li>
            <li>Apache2</li>
            <li>Nginx</li>
        </ul>
    </div>
</div>

</article>